<section class="section">
  <div class="container">
      <div class="image-container">
          <img alt="feature" class="feature-image" src="../../../assets/large-103-600x848.jpg">
      </div>
      <div class="content-container">
          <div class="feature">
              <div class="icon-container">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                      <polyline points="7 10 12 15 17 10"></polyline>
                      <line x1="12" y1="15" x2="12" y2="3"></line>
                  </svg>
              </div>
              <div class="feature-content">
                  <h2 class="title">Completely Free</h2>
                  <p class="description">Free resume creations and downloads. All you have to do is sign up!</p>
                  <a class="action-link" routerLink="/register">Create Account Now
                      <svg xmlns="http://www.w3.org/2000/svg" class="action-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                  </a>
              </div>
          </div>
          <div class="feature">
              <div class="icon-container">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M19 3h-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z"></path>
                      <path d="M17 3v4H7V3"></path>
                  </svg>
              </div>
              <div class="feature-content">
                  <h2 class="title">Check Out Our Templates</h2>
                  <p class="description">We have over 100 templates! Create a resume off a template or create your own template!</p>
                  <a class="action-link" routerLink="/login">See Templates
                      <svg xmlns="http://www.w3.org/2000/svg" class="action-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                  </a>
              </div>
          </div>
          <div class="feature">
              <div class="icon-container">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                  </svg>
              </div>
              <div class="feature-content">
                  <h2 class="title">Who We Are</h2>
                  <p class="description">I was sick of going to "free" resume template websites, just to find at the end they want a subscription to download it. I am able to use Adobe Illustrator to make my own, but that takes a lot of time. So I decided to make a free way to get resume templates for everyone! Feel free to donate if you appreciate the site!</p>
                  <a class="action-link" routerLink="/donate">Donate
                      <svg xmlns="http://www.w3.org/2000/svg" class="action-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
